* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 60px;
}

.nav-title {
    font-weight: 700;
    font-size: 40px;
}

/* banner styles */
.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 20px;
    text-align: center;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 32px;
}

.btn-primary {
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    padding: 20px 22px;
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;


}
.banner-img{
    margin-top: 50px;
}



.banner img {
    width: 1000px;
    height: 500px;
    margin: 0 200px;
}

/* feature styles */
.features {
    border: 1px solid white;
    margin-top: 80px;
    display: flex;
}

.feature {
    display: flex;
}

.feature-img {
    border: 2px solid white;
    margin-left: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;

}

.feature-title {
    margin-left: 60px;
    margin-top: 300px;
    border: 2px solid white;


}

.feature-title1 {
    color: #727272;
    font-weight: 500;
    font-size: 45px;

}

.feature-title2 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.feature-title3 {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    w
}

.feature2-img {
    width: 40%;
    position: relative;

}

.btn-primary2 {
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    padding: 20px 22px;
    border: none;
    margin-left: 55px;
    margin-top: 32px;

}

/* features you will love */
.features2 {
    margin-top: 200px;
    text-align: center;

}

.feature-flex {

    width: 30%;
}

.feature-text {
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 45px;

position: absolute;
bottom: 0;
left: 45%;
}

.features2-parent {
    display: flex;
    
}



/* facts styles */

.facts {
    text-align: center;
}

.fact-container {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
}

.fact-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.fact {
    width: 150px;
    border: 1px solid #FF900E;
    gap: 125px;
    padding: 50px;
}

.fact-p {
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}

/* sponspors */
.sponspors {
    text-align: center;
}

.sponspors-flex {
    display: flex;
    justify-content: space-between;

}

.sponspors-flex img {
    margin-top: 50px;
    width: 153.33px;

    height: 50px;
}


/* footer styles */
.footer {
    margin-top: 130px;
    margin-bottom: 200px;
    margin-left: 240px;
    margin-right: 240px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #FFF4E7;
    border-radius: 8px;

}



/* breakpoint in mobile phone */

@media only screen (max-width:480px) {
    
    .feature-img {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
        grid-row-gap: 24px;
    
    }
}